<div class="nav disable-selection">
    <ul class="hnav">
        <img src="../../assets/helivox.png" alt="" class="img img-responsive" routerLink="/">
        
        <li routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}" (click)="cancelDropdown()"><a data-hover="Home" routerLink="/">Home</a></li>
        <li app-dropdown><a data-hover="Catalogs">Catalogs</a><span class="caret"></span></li>
        <li routerLinkActive="current" (click)="cancelDropdown()"><a data-hover="Articles" routerLink="articles">Articles</a></li>
        <li routerLinkActive="current" (click)="cancelDropdown()"><a data-hover="About Us" routerLink="about-us">About Us</a></li>
        <li routerLinkActive="current" (click)="cancelDropdown()"><a data-hover="Login" routerLink="login">Login</a></li>
    </ul>
    <a href="https://www.instagram.com/helivoxofficial/"><i class="fa fa-instagram" style="font-size:24px"></i></a>
    <div *ngIf="user.role >= 1">
        <a *ngIf="editorMode" (click)="changeMode()"><i class="fa fa-pencil-square-o" style="font-size:24px; right: 12%; top: 45px;"></i></a>
        <a *ngIf="!editorMode" (click)="changeMode()"><i class="fa fa-eye" style="font-size:24px; right: 12%; top: 45px;"></i></a>
    </div>

    <hr>
</div>

<!-- Phone nav bar -->
<div class="phone-view disable-selection">
    <phone-view></phone-view>
</div>

<!-- Phone dropdown -->
<div #dpdn class="dpdn disable-selection">
    <dropdown *ngIf="innerWidth >= 1000"></dropdown>
    <phone-dropdown *ngIf="innerWidth < 1000"></phone-dropdown>
</div>



