<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <img src="../../../assets/articles-graphic.png" class="img img-responsive">
        </div>
        <div class="col-sm-8">
            <h1>Articles</h1>
            <p>Welcome to the Helivox articles page! Helivox provides a platform for students to share spotlights, their informed insights on a wide range of educational topics, and more! From the latest trends in the learning environment to navigating the challenges of academic life, our student contributors offer a unique blend of experience and wisdom. The Helivox articles page boasts well-researched and thought-provoking pieces that serve as a valuable resource for students seeking guidance, inspiration and a deeper understanding of the ever-evolving academic landscape.</p>
        </div>
    </div>
</div>
