

<div class="row" style="margin-right: 100px;">
    <ng-container *ngFor="let n of catalogData; let i = index">
        <div class="col-lg-4 col-sm-6" (click)="openModal(i)" *ngIf="passesTags(i)">
            <div class="card card-content" [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(' + n.image + ')'}" >
                <div class="card-header">
                    <p style="color: white; margin: 0">
                        {{n.title.toUpperCase()}} 
                    </p>
                </div>
                <div class="card-body">
                  <p class="tags" *ngFor="let j of n.labels">{{j}}</p>
                  <img src="../../../../assets/helivox.png" style="width: 30px; position: absolute; right: 10px; top: 40px;" title="Information about this badge!">
    
                  
    
                </div>
                <span>&#8594;</span>
            </div>
        </div>
    </ng-container>

</div>

<modal *ngIf="isOpen" (openEvent)="closeModal()" (newRating)="parseNewRating($event)" [data]="catalogData[openedCatalog]" [index]="openedCatalog"></modal>