<div class="row">
    <div class="col-md-3 left">
        <h1>Quests: </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 left">
        <table>
            <tr>
            <th># of hours granted</th>
            <th>Task</th>
            </tr>
            <tr>
            <td>1 hour</td>
            <td>Inserted School into catalogs</td>
            </tr>
            <tr>
            <td>1 hour each</td>
            <td>Completed catalog entry</td>
            </tr>
            <tr>
            <td>3 hrs</td>
            <td>Completed shortform (2 pages) article</td>
            </tr>
            <tr>
            <td>4 hrs</td>
            <td>Completed longform (3+ pages) article</td>
            </tr>
            <br>

        </table>
        *Successful completion must be approved by an editor

    </div>

</div>
<div class="row">
    <div class="col-md-3 left">
        <h1>Pending Quests: </h1>
    </div>
</div>