<div class="container-fluid" *ngIf="!showArticle">
  <div class="row">
    <div class="col-xs-8">
      <button
        class="button"
        role="button"
        [ngClass]="selected === articlesButtons[i] ? 'button-active' : ''"
        (click)="selected = articlesButtons[i]"
        *ngFor="let button of articlesButtons; let i = index"
      >
        {{ articlesButtons[i] }}
      </button>
    </div>
  </div>

  <div *ngFor="let obj of testObj">
    <div
      *ngIf="selected === 'Latest' ? true : selected === obj.category"
      class="col-md-4"
    >
      <div class="card">
        <img [src]="obj.image" alt="testImg" />
        <h2>{{ obj.title }}</h2>
        <p>
          By {{ obj.author }} <br />
          Lasted Edited on {{ formatDate(obj.date) }}
        </p>
        <p
          class="blue"
          (click)="showSelectedArticle(obj); gotoTop()"
          style="font-weight: 500"
        >
          View article
        </p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showArticle">
  <div class="content">
    <h1 class="articleTitle">{{ selectedArticle.title }}</h1>
    <div class="thumbnail-container">
      <img
        [src]="selectedArticle.image"
        alt="testImg"
        class="articleThumbnail"
      />
    </div>
    <p class="articleAuthor">
      By {{ selectedArticle.author }} Lasted Edited on
      {{ formatDate(selectedArticle.date) }}
    </p>
    <img [src]="selectedArticle.content" alt="Blank" />
  </div>

  <div style="text-align: center; padding: 50px">
    <button
      class="button"
      (click)="showArticle = false; gotoTop()"
      style="background-color: rgb(120, 62, 213); color: white"
    >
      Return
    </button>
  </div>
</div>
