<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <p class="big" [ngStyle]="{'--num': currNum}"></p><p class="big">%</p>
            <p>{{currText}}</p>
        </div>
        <div class="col-sm-6 right">
            <h3>Mission Statement</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia mi et tortor finibus vehicula. Aliquam porttitor risus at augue tempor, vitae sagittis lacus suscipit. Nam a sodales nulla. Fusce ac velit eu libero tempus ornare. Curabitur quam est, eleifend sit amet posuere ut, bibendum vel quam. Quisque ut consequat justo, vel gravida ligula. Praesent vestibulum eleifend est, vitae suscipit eros lacinia vitae. Nunc blandit enim et ante luctus egestas. In sem metus, accumsan a felis porta, venenatis hendrerit lorem.
        </div>
    </div>
</div>

<!-- [style.--num]="currNum" -->